<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Stratech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/data" >Datos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Editar registro
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/newEmployee" >Nuevo registro</a></li>
              <li><a class="dropdown-item" routerLink="/editEmployee">Editar registro</a></li>
              <li><a class="dropdown-item" routerLink="/deleteEmployee">Eliminar registro</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
